<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Search weather</title>
</head>
<body class="all-center">
    {{>header}}
    <form>
        <input placeholder="Location" id="search">
        <button>Search</button>
    </form>
    <h2 id="result" class="result"></h2>
</body>
<script>
    const weatherForm = document.querySelector('form')
    const search = document.getElementById('search')
    const result = document.getElementById('result')
    weatherForm.addEventListener('submit', (e) => {
        e.preventDefault();
        const location = search.value;
        fetch('http://localhost:3000/weather?address='+location).then((response) => {
            response.json().then((data) => {
                if(data.error){
                    console.log(data.error);
                }else{
                    result.innerHTML = data.location+" is "+data.weather;
                }
            })
        })
    })
</script>
</html>