<html>
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <script src="/js/app.js"></script>
  </head>
  <body class="about">
    {{>header}}
    <h1>About</h1>
    <h1>{{title}}</h1>
    <h1>Created By {{name}}</h1>
    <h2>This is not hbs default view directory</h2>
    <img class="profile-image" src="/../img/DSCF0743.jpg" />
  </body>
</html>